*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}


.sidebar{
    width: 305px;
    background: #030303;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar-nav{
    margin-top: 7px;
    background: #111111;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
    margin-left: 7px;
}

.sidebar .logo{
    width: 120px;
}
.sidebar .logo img{
    width: 100%;
}

.sidebar-nav ul {
    list-style: none;

}

.sidebar-nav ul li {
    padding: 10px 20px;

}


.sidebar-nav ul li a{
   text-decoration: none;
   color: #b3b3b3;
   font-size: 16px;
   font-weight: 600;
 
}
.sidebar-nav ul li a:hover{
    color:white
  
 }
 

.sidebar-nav ul li a i{
    font-size: 20px;
    margin-right: 10px;
 }

 .library::after{
    content: '+';
    float : right;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
 }

 .create-playlist{
    background: #1d1d1d;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;

 }

 .create-products{
    background: #1d1d1d;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;

 }

 .sidebar-scroll
 {
    height: 120px;
    overflow: auto;
 }

 .sidebar-scroll::-webkit-scrollbar
 {
    background: transparent;
 }

 .sidebar-scroll::-webkit-scrollbar-thumb
 {
    background: transparent;
    width: 10px;
 }

 .sidebar-scroll:hover::-webkit-scrollbar-thumb
 {
    background: #706a6a;
    width: 5px;
 }

 .create-playlist h4{
    color: #fff;
    font-size: 15px;
 }

 .create-playlist p{
    color: #fff;
    font-size: 12px;
    margin: 12px 0;
 }
 .create-playlist button{
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 200px;
    font-weight: 600;

 }

 .create-products h4{
    color: #fff;
    font-size: 15px;
 }

 .create-products p{
    color: #fff;
    font-size: 12px;
    margin: 12px 0;
 }
 .create-products button{
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 200px;
    font-weight: 600;

 }

 .privacy ul li a{
    text-decoration: none;
    color: #544f4f;
    font-size: 11px;
    font-weight: 600;
    margin: 0 6px;
 }

 .privacy ul{
    list-style: none;
    margin-top: 10px;
 }
 .privacy ul li{
    padding: 0;
    padding-bottom: 8px;
 }
 
 .privacy ul li.l3:hover{
    text-decoration: underline;
    color:rgb(187, 185, 185);
 }
 
.eng-btn
{
    padding: 20px 30px;
}

.eng-btn button
{
   
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 20px;
    margin: 50px 0;
}


.eng-btn button:hover{
    padding: 11px 30px;
    border: 1px solid #ffffff;
}

.mainsection{
   margin-left: 310px;
   background: #181818;
   height: 100vh;
   margin-right: 6px;
   margin-top: 5px;
   border-radius: 15px;
}

.mainsection .top-nav{
   padding: 20px 30px;
   background: #101010;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 15px;

}

.mainsection .top-nav  button{
   background: transparent;
   border: 0;
   outline: 0;
}

.mainsection .top-nav .prev-btn i{
   color: #838181;
   font-size: 20px;
   margin-right: 10px;
}

.top-nav .login-btn .signup {

   color: #838181;
   font-size: 16px;
   font-weight: 600;
   margin-right: 50px;

}
.top-nav .login-btn .signup:hover{

   color: #ffffff;
   

}

.top-nav .login-btn .login {

   color: #050505;
   font-size: 16px;
   font-weight: 600;
   background: #ffffff;
   padding: 15px 30px;
   border-radius: 25px;

}

.top-nav .login-btn .login:hover{

   transform: scale(1.05);
   background: #e8e8e8;


}

.spotify-playlisttop{

   padding: 20px 40px;

}

.spotify-playlisttop h2 {

   color: #fff;
   font-size: 22px;
   margin-bottom: 20px;

}

.spotify-playlisttop h2:hover{
text-decoration: underline;
color: #ffffff;
}


.spotify-playlisttop .card {
   display: flex;
   gap: 1.5px;
   overflow: hidden;
}

.spotify-playlisttop .card .item{
   width: 170px; /* Adjusted width to accommodate the larger image */
   min-width: 170px;
   /* background-color: #1e1e1e; */
   cursor: pointer;
   border-radius: 6px;
   padding: 20px 10px;
}

.spotify-playlisttop .card .item:hover{

   background-color: #212121;
   
}


.spotify-playlisttop .card .item img {
   width: 108%; /* Keeping image width as specified */
   border-radius: 100px;
   margin-bottom: 10px;
   margin-left: -3.5%; /* Centering the image by shifting it left */
}

.spotify-playlisttop .item h4 {
   color: #fff;
}

.spotify-playlisttop .item p {
   color: #8f8e8e;
   font-size: 13px;
   margin-top: 10px;
}

.spotify-playlisttop .item p:hover{
   text-decoration: underline;
}
.spotify-playlisttop>::after{
   margin-top: 18px;   
   content: 'Show all';
      font-size: 13px;
      color: #838181;
      float : right;
   
}

.spotify-playlisttop .play-btn {
   position: relative;
}

.spotify-playlisttop .play-btn i{
  position: absolute;
  background: #1db954;
  border-radius: 150px;
  padding: 17px;
  right: 1px;
  top: -72px;
  opacity: 0;
  transform:0.3s ease all;

}

.spotify-playlisttop .card .item:hover .play-btn i{

   opacity: 1;
   
}

.spotify-playlist{

   padding: 20px 40px;

}

.spotify-playlist h2 {

   color: #fff;
   font-size: 22px;
   margin-bottom: 20px;

}

.spotify-playlist h2:hover{
text-decoration: underline;
color: #ffffff;
}


.spotify-playlist .card {
   display: flex;
   gap: 1.5px;
   overflow: hidden;
}

.spotify-playlist .card .item{
   width: 170px; /* Adjusted width to accommodate the larger image */
   min-width: 170px;
   /* background-color: #1e1e1e; */
   cursor: pointer;
   border-radius: 6px;
   padding: 20px 10px;
}

.spotify-playlist .card .item:hover{

   background-color: #212121;
   
}


.spotify-playlist .card .item img {
   width: 108%; /* Keeping image width as specified */
   border-radius: 6px;
   margin-bottom: 10px;
   margin-left: -3.5%; /* Centering the image by shifting it left */
}

.spotify-playlist .item h4 {
   color: #fff;
}

.spotify-playlist .item p {
   color: #8f8e8e;
   font-size: 13px;
   margin-top: 10px;
}

.spotify-playlist .item p:hover{
   text-decoration: underline;
}
.spotify-playlist>::after{
   margin-top: 18px;   
   content: 'Show all';
      font-size: 13px;
      color: #838181;
      float : right;
   
}

.spotify-playlist .play-btn {
   position: relative;
}

.spotify-playlist .play-btn i{
  position: absolute;
  background: #1db954;
  border-radius: 150px;
  padding: 17px;
  right: 1px;
  top: -72px;
  opacity: 0;
  transform:0.3s ease all;

}

.spotify-playlist .card .item:hover .play-btn i{

   opacity: 1;
   
}